In [ ]:
import pandas as pd

d = {
    'Name': ['Arystan', 'Tima', 'Yersultan', 'Kuanysh', 'Ruslan'],
    'Age': [100, 10, 22, 25, 2],
    'Score': [98, 67, 88, 77, 100]
}
df = pd.DataFrame(d)
print(df)

        Name  Age  Score
0    Arystan  100     98
1       Tima   10     67
2  Yersultan   22     88
3    Kuanysh   25     77
4     Ruslan    2    100

In [ ]:
print("\nFirst 3 rows:\n", df.head(3))
print("\nSummary Statistics:\n", df.describe())
print("\nAverage Score:", df['Score'].mean())

First 3 rows:
         Name  Age  Score
0    Arystan  100     98
1       Tima   10     67
2  Yersultan   22     88

Summary Statistics:
               Age       Score
count    5.000000    5.000000
mean    31.800000   86.000000
std     39.232639   14.017846
min      2.000000   67.000000
25%     10.000000   77.000000
50%     22.000000   88.000000
75%     25.000000   98.000000
max    100.000000  100.000000

Average Score: 86.0

In [ ]:
GF = df[df['Age'] > 20]
HS = df[df['Score'] > 80]

print(GF, "\n")
print(HS)

        Name  Age  Score
0    Arystan  100     98
2  Yersultan   22     88
3    Kuanysh   25     77

        Name  Age  Score
0    Arystan  100     98
2  Yersultan   22     88
4     Ruslan    2    100